<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>Admin</title> 


<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
 	<link rel='stylesheet prefetch' href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css'>

<!-- Bootstrap core JavaScript 
    ================================================== -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>		
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

<!-- Javascript -->
	<script src="js/admin.js"></script>
  </head>

<body>

<!-- navbar -->

    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse mb-4">
      <h3 class="navbar-brand" href="#">StuMaSym</h3>
			<h3 class="navbar-brand" href="#">Admin</h3>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto"> </ul>
          <button class="btn btn-outline-info">Change My Password</button>
					<button id="logout" class="btn btn-outline-info">Log out</button>
      </div>
    </nav>

<!-- main div -->

    <div class="container">
      	<div class="jumbotron">
	
	<!-- create user -->
	<hr>
	<h3 class="form-signin-heading">Add User</h3>
	<hr>
 	<div class="card card-block">
	   	<form id="createUser_form" onsubmit="return false">

				<div class="form-group">
					<label for="UserID" id ="createUser_label">User ID</label>
					<input type="ID" class="form-control col-lg-3" id="createUser_userID" placeholder="Enter new user ID">
					<small id="user_exists"></small>
				</div>

				<div class="form-group">
					<label for="InputPassword">Password</label>
					<input type="password" class="form-control col-lg-3" id="createUser_pass" placeholder="Enter new password">
				</div>

				<div class="form-group">
					<label for="sel1">User Type</label>
					<select class="form-control col-lg-3" id="createUser_userType">
						<option>Student</option>
						<option>Admin</option>
					</select>
				</div>

				<div class="form-group">
					<button class="btn btn-primary" id="createUser_button">Create User</button>
				</div>			
		
		</form>
	</div>
	<br>

	<!-- remove user -->
	<hr>
	<h3 class="form-signin-heading">Remove User</h3>
	<hr>
	<div class="card card-block">
		<form id="removeUser_form"  onsubmit="return false">

			<div class="form-group">
				<label for="removeUser_UserID">User ID</label>
				<input type="ID" class="form-control col-lg-3" id="removeUser_userID" placeholder="Enter user ID">
				<small id="removeUser_error"></small>
			</div>

			<div class="form-group">
				<button class="btn btn-primary" id="removeUser_button">Remove User</button>
			</div>

		</form>
	</div>

	<!-- update password -->
	<hr>
	<h3 class="form-signin-heading">Change User Password</h3>
	<hr>
	<div class="card card-block">
	    <form id="changePass_form" onsubmit="return false">
				<div class="form-group">
					<label for="UserID">User ID</label>
					<input type="ID" class="form-control col-lg-3" id="changePass_userID" placeholder="Enter user ID">
					<small id="changePass_error"></small>
				</div>
				<div class="form-group">
					<label for="UserID">New Password</label>
					<input type="ID" class="form-control col-lg-3" id="changePass_pass" placeholder="Enter new passowrd">
				</div>
				<button class="btn btn-primary" id="changePass_button">Update Password</button>
		</form>
	</div>
	</div>


</div>


 
</body>
</html>

