<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
  <!-- CSS -->
<!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel='stylesheet prefetch' href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css'>

<!-- Bootstrap core JavaScript 
    ================================================== -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>    
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <script src="js/studentView.js"></script>
</head>

<body>

  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse mb-4">
    <h3 class="navbar-brand" style="width:10%;" href="#">Student</h3>
    <div id="buttons" class="nav navbar-nav navbar-left" style="max-width:60%;display:inline-block;padding:0px">
      
    </div>
    <div  style="width:25%; " class="collapse navbar-collapse ml-auto" id="navbarCollapse">
      <ul  class="nav navbar-nav ml-auto"> 
        <button id="change-password-button" class="btn navbar-btn btn-outline-secondary" >Change My Password</button>
        <button id="logout-button" class="btn navbar-btn btn-outline-secondary">Log out</button>
      </ul>
    </div>
  </nav>


  <div class="container-fluid">
    <div class="card" id="heading">

    </div>

    <div class="card" id="mark-table">

    </div>
  </div>
 


</body>
</html>