<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
  <!--  CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script src="js/studentView.js"></script>


</head>

<body>


  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse mb-4">
      <h3 class="navbar-brand" href="#">StuMaSym</h3>
      <h3 class="navbar-brand" href="#">Student</h3>
      <div id="buttons" class="nav navbar-nav navbar-left">
        
      </div>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav"> </ul>
          <button class="btn navbar-btn btn-info pull-right">Change My Password</button>
          <button id="logout-button" class="btn navbar-btn  btn-info pull-right">Log out</button>
      </div>
    </nav>

  <div class="container-fluid" id="mark-table">

  </div>

</body>
</html>
